node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.envuploads/
uploads/**
.env
N8N_SETUP.md
migrations/add_is_expired_column.sql
.gitignore
migrations/0000_violet_toro.sql
.gitignore
migrations/meta/0000_snapshot.json
migrations/meta/_journal.json
script/run-migration.ts
.gitignore
script/check-column.ts
migrations/add_active_for_matching_column.sql
